.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog{
  border-radius: 12px;
  box-shadow:  0 0 1px black;
  padding: 30px;
  margin: 12px;
}

.navbar{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(194, 189, 189);
}
h1{
  font-size: 20px;
  color:rgb(16, 92, 69);
  letter-spacing: 1px;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  list-style: none;
}
li{
  margin-left: 20px;
}
li a{
  text-decoration: none;
  color: rgb(16, 92, 69);
  cursor: pointer;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(16, 92, 69);
}
form{
  display: flex;
  flex-direction: column;
  width: 200px;
}
input{
  margin-bottom: 12px;
}
textarea{
  margin-bottom: 12px;
}
select{
  margin-bottom: 12px;
}